<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="chart">
      <canvas id="priceChart" width="400" height="400"></canvas>
    </div>
    <div class="centered">
      <input class="textInput" id="daysToFetch" type="text" />
      <button class="button" id="chartButton" type="button">
        Update Chart
      </button>
      <div>
        <input class="dateInput" id="date" type="date" id="start" />
        <button class="button" id="submissionButton" type="button">
          Get top submission
        </button>
      </div>
      <div id="redditComment"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/index.js"></script>
  </body>
</html>
